body {
    background-color: rgb(255, 244, 224);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */

#daHeader {
    background-color: rgb(100, 128, 89);
    padding: 2px;
    text-align: center;
}

/* Navigation Bar */

#navBar {
    background-color: rgb(136, 173, 121);
    text-align: center;
    margin: 0;
    padding: 0;
}

#navBar ul li {
    list-style-type: none;
}

#navBar li {
    display: inline-block;
    position: relative;
    padding: 13px 40px;
}

#navBar li a {
    text-decoration: none;
    color: black;
}

#navBar li:not(:has(form)):hover {
    background-color: whitesmoke;
}

/* Search Bar */

#searchBox {
    border-radius: 7px;
    border: 1px solid grey;
    padding: 8px;
    width: 500px;
    text-align: start;

}

#searchSubmit {
    margin: 0;
}

#searchForm {
    margin: 0;
}

/* Weclome Message */

#welcomeMessage {
    text-align: center;
}

/* Search Results */

#searchResultsContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.styleResultsTable {
    background-color: white;
    border: 2px solid gray;
    padding: 5px;
    border-collapse: collapse;
}

.styleResultsTable td {
    border-bottom: 1px solid gray;
}

.styleResultsTable tr td{
    padding: 5px;
}

.styleResultsTable tr th{
    padding: 5px;
    padding-top: 6px;
}

.titleAuthorCell {
    max-width: 50ch;
    word-wrap: break-word;
    white-space: normal;
}

.styleResultsTable tr th:hover{
    background-color: gray;
}

.bookLink {
    color: black;
}




/* Buttons */

  .button-11 {
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-11:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }

  #aboutTitle {
    text-align: center;
  }

  #aboutText {
    text-align: center;
    font-size: 20px;
  }