body {
    background-color: rgb(255, 244, 224);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */

#daHeader {
    background-color: rgb(100, 128, 89);
    padding: 2px;
    text-align: center;
}

/* Navigation Bar */

#navBar {
    background-color: rgb(136, 173, 121);
    text-align: center;
    margin: 0;
    padding: 0;
}

#navBar ul li {
    list-style-type: none;
}

#navBar li {
    display: inline-block;
    position: relative;
    padding: 13px 40px;
}

#navBar li a {
    text-decoration: none;
    color: black;
}

#navBar li:not(:has(form)):hover {
    background-color: whitesmoke;
}

/* Search Bar */

#searchBox {
    border-radius: 7px;
    border: 1px solid grey;
    padding: 8px;
    width: 500px;
    text-align: start;

}

#searchSubmit {
    margin: 0;
}

#searchForm {
    margin: 0;
}

/* Weclome Message */

#welcomeMessage {
    text-align: center;
}

/* Search Results */

#searchResultsContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.styleResultsTable {
    background-color: white;
    border: 2px solid gray;
    padding: 5px;
    border-collapse: collapse;
}

.styleResultsTable td {
    border-bottom: 1px solid gray;
}

.styleResultsTable tr td{
    padding: 5px;
}

.styleResultsTable tr th{
    padding: 5px;
    padding-top: 6px;
}

.titleAuthorCell {
    max-width: 50ch;
    word-wrap: break-word;
    white-space: normal;
}

.styleResultsTable tr th:hover{
    background-color: gray;
}

.bookLink {
    color: black;
}

/* One Book Page */

#oneBookLeftSide {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 40px;
}

#oneBookRightSide {
    margin-left: 50px;
    margin-right: 100px;
}






/* Buttons */

  .button-11 {
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-11:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }

  #aboutTitle {
    text-align: center;
  }

  #aboutText {
    text-align: center;
    font-size: 20px;
  }

  #booksHeader {
    text-align: center;
  }

  #savedBooksTable td:nth-child(1),
  #savedBooksTable th:nth-child(1) {
    padding-right: 40px;
  }

  #savedBooksTable {
    margin: auto;
    font-size: larger;
  }

  #sliderDiv {
    width: 400px;
    height: 600px;
    margin:auto
  }


  .audio-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.onButton {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.onButton {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .onButton {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}



.offButton {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.offButton {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .offButton {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.speech-box{
    background-color:seagreen;
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;
}

.speech-text{
    font-size: 13px;
    color: white;
}

#instructions {
  color:darkgreen;
}